
<div class="text-4xl text-gray-700 px-2">Ticket <%= @ticket.request_number %></div>
<div class="bg-gray-50 m-5 p-8 rounded-lg">
  <div class="min-w-full px-6 py-4 mb-8">
    <div class="text-sm font-medium text-gray-500 uppercase">Request Number</div>
    <div><%= @ticket.request_number %></div>

    <div class="text-sm font-medium text-gray-500 uppercase">Sequence Number</div>
    <div><%= @ticket.sequence_number %></div>

    <div class="text-sm font-medium text-gray-500 uppercase">Request Type</div>
    <div><%= @ticket.request_type %></div>

    <div class="text-sm font-medium text-gray-500 uppercase">Request Action</div>
    <div><%= @ticket.request_action %></div>

    <div class="text-sm font-medium text-gray-500 uppercase">Due Date</div>
    <div><%= @ticket.response_due_date_time %></div>

    <div class="text-sm font-medium text-gray-500 uppercase">Primary Service Area Code</div>
    <div><%= @ticket.primary_service_area_code %></div>

    <div class="text-sm font-medium text-gray-500 uppercase">Additional Service Area Code</div>
    <div><%= @ticket.additional_service_area_codes %></div>
  </div>

  <div class="font-bold text-gray-700 px-6 py-4">Excavator Info</div>
  <div class="px-6 py-2">
    <%= @ticket.excavator.company_name %>
  </div>
  <div class="text-xs whitespace-nowrap px-6">
    <%= @ticket.excavator.address %>
  </div>
  <div class="text-xs whitespace-nowrap px-6">
    Crew On Site: <%= crew_on_site_status(@ticket) %>
  </div>
</div>

<%= link_to 'Back', tickets_path, class: "flex text-xl justify-end mt-4" %>
